<form action="">
    <!-- <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="patientService.selectPatient.name"> -->
    <legend>
    <h3>Personal Details</h3>
    </legend>
    
    <div><label>Name*</label><input type="text" name="name"  required  ></div>
    <div><label>Gender*</label><input type="text" name="name" required></div>
    <div><label>BirthDate*</label><input type="date" name="name" required></div>
    <div><label>Diagnosis*</label><input type="text" name="name" required></div>
</form>
    


