National Health Information Services

<div class="heading">
    <div class="logo">NHIS</div>
    <input type="button" value="Login">
</div>

<div class="headerbar">
    <a href="">Home</a>
    <a href="">Services</a>
    <a href="">Medical Insurance</a>
    <a href="">Statistics</a>
    <a href="">Charity Organization</a>
</div>

<div class="bannerimg">
    <img src="https://images.pexels.com/photos/3652103/pexels-photo-3652103.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
</div>

<div class="standards">
    <h2>STANDARDS</h2>
    <div class="standard-cards-container">
            <div class="standard-cards">
            <div class="standard-cards-img">
                <img src="https://nhsc.hrsa.gov/sites/default/files/nhsc//2022-slot-2-nhsc-site-application-feature-469x129.jpg" alt="">
            </div>
            <div class="desc">
                <div class="stardard-cards-bigtxt">Mission</div>
                <div class="stardard-cards-description">
                    <p>To organize clinicians all over the island to make obtaining patient Information
                    as seemless as possible making the initial diagnosis and overall healthcare system
                    more effective and efficient.</p>
                </div> 
            </div>
            
        </div>
        <div class="standard-cards">
            <div class="standard-cards-img">
                <img src="https://nhsc.hrsa.gov/sites/default/files/nhsc//2022-slot-2-nhsc-site-application-feature-469x129.jpg" alt="">
            </div>
            <div class="desc">
                <div class="stardard-cards-bigtxt">The Numbers</div>
                <div class="stardard-cards-description">
                    <p>NHIS participants serve in all 14 Parishes. And the number of both private and public 
                    Clinics, Doctor's Offices, Medical Centres, Pediatric Centres and other medical 
                    institutions keep increasing.</p>
                </div> 
            </div>
            
        </div>
    </div>
    
</div>

<div class="explore-section">
    <h2>EXPLORE</h2>
    <ul class="two-columns-list">
        <li class="list-items">
            <div class="list-item-heading">
                <p>National Advisory Council</p>
            </div>
            
            <div class="content">
                <p>The National Advisory Council is a group of healthcare providers and administrators.</p>
            </div>
        </li>
        <li class="list-items">
            <div class="list-item-heading">
                <p>Statistics</p>
            </div>
            
            <div class="content">
                <p>We help the medical community and the poplic by providing ananymous statistics</p>
            </div>
        </li>
        <li class="list-items">
            <div class="list-item-heading">
                <P>NHIS Sites</P>
            </div>
            
            <div class="content">
                <p>Approved sites and partnered facilities help us widen our area of support for the further Imporvement of the medical field on the country.</p>
            </div>
        </li>
        <li class="list-items">
            <div class="list-item-heading">
                <p>Become an NHIS Site</p>
            </div>
            
            <div class="content">
                <p>Visit Become an NHIS Site to learn the NHIS site benefits; then determine if you meet the eligibility criteria, and how to apply during an open application cycle.</p>
            </div>
        </li>
    </ul>

    
</div>

<div class="tail">
        <p>National Health Information Services</p>
    </div>